[Unit]
Description=PS1 Boot Video
After=local-fs.target network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/ps1boot.sh
StandardInput=tty
StandardOutput=tty
TTYPath=/dev/tty1
RemainAfterExit=yes

[Install]
WantedBy=graphical.target
